@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Nerko+One');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
}
:root {
    --grey: #E5E5E5;
    --white: #FFF;
    --ndWhite: #a9a9aa;
    --dWhite: #DDD;
    --nWhite: #FDFFF7;
    --black: #000;
    --lBlack: #222;
    --icBlack:  #131313;
    --Bmode: rgb(27, 27, 27);
    --nBlack: #50514F;

    --dBlue: #00A;
    --lBlue: #6d6dff;
    --ddBlue: #05057e;
    --headText: rgb(26, 26, 116);
    --headTextL: #a4a4c9;
    --btnddtrans: rgba(58, 58, 196, 0.5);
    --btnddBlue: rgba(58, 58, 196, 1);
    --inGrey:  rgba(229, 229, 229,.4);
    --btnGrey: rgba(173, 164, 164, 0.767);
}
html, body {
    width: 100%;
}
header, nav, div, section, footer {
    width: 100%;
}
/* STYLES FOR LIGHT MODE */
body.lm {
    background: var(--white);
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}
header > nav {
    padding: 8px 5%;
    background: var(--dWhite);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
header > nav > div.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100px;
    position: relative;
}header > nav > div.logo > a {
    z-index: 100;
}
header > nav > div.logo > a > img {
    width: 60px;
    height: auto;
}
/*
header > nav > div.logo > span {
    font-family: 'Nerko One', Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 35px;
    margin-left: 6px;
    font-weight: 700;
    font-style: italic;
    color: var(--ddBlue);
    position: absolute;
    background: var(--white);
    right: 0;
    width: calc(100% - 50px);
    padding: 1px 0 1px 15px;
    border-radius: 0 30px 30px 0;
}
*/
header > nav > div.theme {
    width: calc(100px - 32px);
    padding: 0;
}
header > nav > div.theme > div.toggle-cnt {
    width: 100%;
    height: 25px;
    position: relative;
    border-radius: 30px;
    background: var(--dBlue);
}
header > nav > div.theme > div.toggle-cnt > span.img-circle-cnt {
    position: absolute;
    width: 40px;
    height: 40px;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    top: -8px;
    border-radius: 50%;
    cursor: pointer;
}
.to-left {
    left: 0;
}
.to-right {
    right: 0;
}
header > nav > div.theme > div.toggle-cnt > span.img-circle-cnt > i {
    font-size: 30px;
}
header > nav > div.theme > div.toggle-cnt > span.img-circle-cnt > i.fas.fa-sun {
    color: #ffd700;
}
header > nav > div.theme > div.toggle-cnt > span.img-circle-cnt > i.fas.fa-moon {
    color: var(--grey);
}
main {
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3% 10%;
}
main > section.head {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
main > section.head > div.title {
    padding: 0;
    width: 280px;
    font-size: 23px;
    font-family: Langar, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: var(--headText);
    margin-bottom: 30px;
    text-align: center;
}
main > section.head > div.search-bar {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    height: 45px;
    position: relative;
}
main > section.head > div.search-bar > input {
    width: 100% ;
    height: 100%;
    border-radius: 50px;
    font-size: 18px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding-left: 25px;
    background: rgba(0,0,0, .3);
    border: 2px solid transparent;
    transition: .4s ease-in-out;
}
.inp-lmode, .inp-lmode::placeholder {
    color: var(--nBlack);
}
.inp-dmode {
    color: var(--nWhite);
}
.inp-dmode::placeholder {
    color: var(--grey);
}
main > section.head > div.search-bar > input:hover {
    border: 2px solid var(--btnddBlue);
}
main > section.head > div.search-bar > button.search-button {
    width: 130px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    cursor: pointer;
    border-radius: 50px;
    font-size: 20px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 700;
    background: var(--btnddtrans);
    color: var(--grey);
    border: none;
    transition: .5s ease-in-out;
}
main > section.head > div.search-bar > button.search-button:hover {
    color: var(--nWhite);
    background: var(--btnddBlue);
}
main > section.result-container {
    padding: 3% 4%;
    border-radius: 20px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    height: 100%;
    display: none;
}
main > section.result-lMode {
    background: rgba(225,225,225, .5);
    color: var(--lBlack);
}
main > section.result-dMode {
    background: rgba(0,0,0, .5);
    color: var(--nWhite);
}
main > section.result-lMode::-webkit-scrollbar {
    width: 14px;               /* width of the entire scrollbar */
}
main > section.result-lMode::-webkit-scrollbar-track {
    background: rgba(0,0,0,.5);        /* color of the tracking area */
    border-radius: 20px;
}
main > section.result-lMode::-webkit-scrollbar-thumb {
    background-color: var(--nWhite);    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 2px solid rgba(0,0,0,.5);  /* creates padding around scroll thumb */
}
main > section.result-dMode::-webkit-scrollbar {
    width: 14px;               /* width of the entire scrollbar */
}
main > section.result-dMode::-webkit-scrollbar-track {
    background: rgba(225,225,225,.8);        /* color of the tracking area */
    border-radius: 20px;
}
main > section.result-dMode::-webkit-scrollbar-thumb {
    background-color: var(--lBlack);    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 2px solid rgba(225,225,225,.8);  /* creates padding around scroll thumb */
}

main > section.result-container > .control {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 0 3% 0;
    justify-content: space-between;
    align-items: center;
}
main > section.result-container > .control > button {
    width: 130px;
    height: 30px;
    font-size: 17px;
    border-radius: 30px;
    cursor: pointer;
    transition: .5s ease-in-out;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.result-lMode > .control > button {
    background: var(--btnddtrans);
    color: var(--nBlack);
}
.result-lMode > .control > button:hover {
    color: var(--icBlack);
    background: var(--btnddBlue);
}
.result-dMode > .control > button {
    background: rgba(0,0,0, .3);
    color: var(--grey);
}
.result-dMode > .control > button:hover {
    color: var(--nWhite);
    background: rgba(0,0,0, .6);
}
.ans-cont > h2 {
    margin: 10px 0;
    font-size: 38px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: var(--dBlue);
}
main > section.result-lMode .ans-cont > h2 { color: var(--ddBlue) }
main > section.result-dMode .ans-cont > h2 { color: var(--lBlue); }
.searchmatch {
    font-family: Poppins;
    font-weight: 500;
    font-size: 17px;
    line-height: 2;
}
.res-cnt {
    margin: 30px 0;
}
footer {
    padding: 8px 5%;
    position: absolute;
    bottom: 0;
    height: 9.5vh;
    background: var(--dWhite);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
footer > div.socials {
    width: 260px;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer > div.socials > a > i {
    cursor: pointer;
    transition: .5s ease-in-out;
}
.icL > a > i {
    color: var(--lBlack);
}
.icD > a > i {
    color: var(--dWhite);
}
.icL > a > i:hover {
    color: var(--ddBlue);
}
.icD > a > i:hover {
    color: var(--lBlue);
}
footer > span {
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    width: 170px;
    display:  flex;
    align-items: center;
    font-size: 18px;
    color: var(--icBlack);
}
.s {
    font-size: 24px;
    margin-right: 4px;
}
@media (max-width: 450px) {
    main {
        padding: 5% 4%;
    }
}
@media (max-width: 600px) {
    main {
        padding: 7% 4%;
        height: 74vh;
    }
    footer {
        flex-direction: column;
        justify-content: center;
        height: 13vh;
        padding-top: 20px;
    }
    footer > div.socials {
        width: 240px;
        font-size: 23px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}